<%# ADMIN NEW ITEM REGISTER %>
<h1>商品の新規追加</h1>
<%# NEW ITEM VALIDATION VIEW %>
<% if @new_item.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <h2><%= @new_item.errors.count %> errors prohibited this item from being saved:</h2>
    <ul>
      <% @new_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%#  %>
<%# ITEM COLUMNS LIST
id
name
genre_id
status
caption
price
image_id
 %>
<%# NEW ITEM REGISTER FORM %>
<%= form_for(new_item) do |f| %>
  <div class="field row">
    <label for="book_title">Title</label>
    <%= f.text_field :name, class:'col-xs-12 book_title' %>
  </div>
  <div class="field row">
    <label for="book_opinion">Opinion</label>
    <%= f.text_area :body, class:'col-xs-12 book_body' %>
  </div>
  <div class="actions row">
    <%= f.submit 'Create Book', class:'btn btn-primary col-xs-12' %>
  </div>
<% end %>
<%#  %>
</div>
