<%# ADMIN ITEM NEW --- NEW ITEM REGISTER %>
<%# YOU CAN USE INSTANCE VARIABLES/METHODS DOWNBELOW
    @new_item
    .id
    .name
    .genre_id
    .status
    .caption
    .price
    .image_id
%>
<%# NOTICE %>
<div class="row">
  <p id="notice"></p>
</div>
<%# CONTENT %>
<div class="row">
  <h2>商品新規追加 (管理者モード)</h2>
</div>
<div class="row">
  <%= link_to "管理者商品一覧へ戻る", admin_items_path, class:'btn-sm btn-primary' %>
</div>
<%# NEW ITEM VALIDATION VIEW %>
<div class="row">
  <% if @new_item.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= @new_item.errors.count %> errors prohibited this item from being saved:</h2>
      <ul>
        <% @new_item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
<%# NEW ITEM REGISTER FORM %>
<div class="row">
  <%= form_for(@new_item, url:admin_items_path) do |f| %>
    <%# FORM - L --- ITEM IMAGE %>
    <div class="col-md-5">
      <div class="field">
        <label for="item_image">Image</label>
        <%= f.attachment_field :image, placeholder: "Item Image", class: "item-image-form" %>
      </div>
    </div>
    <%# FORM - R --- ITEM INFORMATION %>
    <div class="col-md-7">
      <div class="field row">
        <%= f.label :name, "商品名", class:"control-label" %>
        <%= f.text_field :name, class:'col-md-12 control-form' %>
      </div>
      <div class="field row">
        <%= f.label :caption, "商品説明", class:"control-label" %>
        <%= f.text_area :caption, class:'col-md-12 control-form' %>
      </div>
      <div class="field row">
        <%= f.label :genre_id, "ジャンル", class:"control-label" %>
        <%= f.select :genre_id, @arrayed_active_genres, {}, class:'col-md-12 control-form' %>
      </div>
      <div class="field row">
        <%= f.label :price, "税抜価格", class:"control-label" %>
        <%= f.number_field :price, class:'col-md-12 control-form' %>
      </div>
      <div class="field row">
        <%= f.label :status, "販売ステータス", class:"control-label" %>
        <%= f.select :status, @arrayed_item_statuses, {}, class:'col-md-12 control-form' %>
      </div>
      <div class="actions row">
        <%= f.submit '新規登録', class:'btn btn-primary col-md-12' %>
      </div>
    </div>
  <% end %>
</div>
