<%# ADMIN ITEM SHOW --- ITEM DETAILS %>
<%# YOU CAN USE INSTANCE VARIABLES/METHODS DOWNBELOW
    @item
      .id
      .name
      .genre_id
      .status
      .caption
      .price
      .image_id
%>
<%# NOTICE %>
<div class="row">
  <p id="notice"></p>
</div>
<%# CONTENT %>
<div class="row">
  <h2>商品詳細 (管理者モード)</h2>
</div>
<div class="row">
  <%= link_to "管理者商品一覧へ戻る", admin_items_path, class:'btn-sm btn-primary' %>
</div>
<%# ITEM DETAILS %>
<div class="row">
  <%# LEFT --- ITEM IMAGE %>
  <div class="col-md-5">
    <%# 写真 %>
    <%= attachment_image_tag @item, :image, :fill, 400, 300, format: 'jpeg', class: "attachment item image" %>
  </div>
  <%# RIGHT --- ITEM INFORMATION %>
  <div class="col-md-5">
    <div class="row">
      <label class="control-label" for="item_name">商品名</label>
      <p><%= @item.name %></p>
    </div>
    <div class="row">
      <label class="control-label" for="item_caption">商品説明</label>
      <p><%= @item.caption %></p>
    </div>
    <div class="row">
      <label class="control-label" for="item_genre_id">ジャンル</label>
      <p><%= @item.genre.name %></p>
    </div>
    <div class="row">
      <label class="control-label" for="item_price">税抜価格(税抜価格)</label>
      <p><%= @item.price %></p>
    </div>
    <div class="row">
      <label class="control-label" for="item_status">販売ステータス</label>
      <p><%= @item.status %></p>
    </div>
  </div>
</div>
<%# EDIT BUTTON %>
<div class="row">
  <%= link_to "編集する", edit_admin_item_path(@item), class:'btn-sm btn-success' %>
  <%= link_to "販売ページを見る", item_path(@item), class:'btn-sm btn-primary' %>
</div>
