<%# HEADER %>
<div class="row">
    <p id="notice"></p>
	</div>
<%# CONTENT %>
	<div class="row">
    <h2>注文履歴一覧</h2>
	</div>
	<div class="row">
	<table class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
        <th>注文日</th>
		<th>配送先</th>
		<th>注文商品</th>
        <th>支払金額</th>
        <th>ステータス</th>
        <th>注文詳細</th>
        </tr>
    </thead>
    <tbody>
    <% @orders.each do |order| %>
        <tr>
		<td><%= order.created_at %></td>
        <td><%= order.zipcode %></td>
        <td><%= order.address %></td>
        <td><%= order.name %></td>
		<td><%= order.end_user_id %></td>
		<td><% order.status %></td>
        <th><%= order.submit "表示する", class: "btn btn-primary" %></th>
		
        </tr>
	<% end %>
    </tbody>
    </table>
</div>

