<div class="row">
  <h2>注文履歴詳細</h2>
</div>
<%# UP %>
<div class="col-md-8">
  <h2>注文情報</h2>
  <table class="table table-bordered table-hover table-striped">
    <tbody>
      <tr>
        <th>注文日</th>
        <td>
          <p><%= @order.created_at %></p>
        </td>
      </tr>
      <tr>
        <th>配送先</th>
        <td>
          <p>〒 <%= @order.zipcode[0..2] %>-<%= @order.zipcode[3..6] %></p>
          <p><%= @order.address %></p>
          <p><%= @order.name %> 様</p>
        </td>
      </tr>
      <tr>
        <th>支払方法</th>
        <td>
          <p><%= @order.payment_method %></p>
        </td>
      </tr>
      <tr>
        <th>ステータス</th>
        <td>
          <p><%= @order.status %></p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<%# DOwn %>
<div class="row">
  <%# DOWN LEFT %>
  <div class="col-md-4">
    <h2>請求情報</h2>
    <table class="table table-bordered table-hover table-striped">
      <tbody>
        <tr>
          <th>商品合計</th>
          <th>¥ <%= (@order.sum_price).to_i %></th>
        </tr>
        <tr>
          <th>配送料</th>
          <th>¥ <%= (@order.shipping_price) %></th>
          <tr>
            <th>ご請求額</th>
            <th>¥ <%= (@order.payment_price).to_i %></th>
          </tr>
        </tr>
      </tbody>
    </table>
  </div>
  <%# DOWN RIGHT %>
  <div class="col-md-12 row">
    <h2>注文内容</h2>
    <table class="table table-bordered table-hover table-striped">
      <tbody>
        <tr>
          <th>商品</th>
          <th>単価(税込)</th>
          <th>個数</th>
          <th>小計</th>
        </tr>
        <% @order.order_details.each do |order_detail| %>
          <tr>
            <td><%= order_detail.item_name %></td>
            <td>¥ <%= order_detail.price %></td>
            <td><%= order_detail.amount %> 個</td>
            <td>¥ <%= order_detail.price * order_detail.amount %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
