<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <h1>会員の方はこちらからログイン</h1>
  </div>
</div>

<br>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-4">
      <%= f.label "メールアドレス" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", :size=>"30" %>
      <p></p>
      <%= f.label "パスワード　　" %>
      <%= f.password_field :password, autocomplete: "current-password", :size=>"30" %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-6">
      <span class="small"><%= link_to '＝>パスワードを忘れた方はこちら', new_end_user_password_path %></span>
    </div>
  </div>
  <p></p>
  <div class="row">
    <div class="col-sm-7 col-sm-offset-5">
      <%= f.submit "ログイン", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>

<p></p>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <h1>登録がお済みでない方</h1>
    <div class="col-sm-8 col-sm-offset-2">
      <strong><%= link_to 'こちら', new_end_user_registration_path %></strong>
      <%= "から新規登録を行ってください。"%>
    </div>
  </div>
</div>