<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <h1>会員編集画面 (管理者モード)</h1>
  </div>
</div>

<br>
<%= form_for(@end_user, url: admin_end_user_path) do |f| %>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <table class="table">
        <tr>
          <td>会員ID</td>
          <td><%= @end_user.id %></td>
        </tr>
        <tr>
          <td>氏名</td>
          <td><%= f.text_field :last_name %><%= f.text_field :first_name %>
          </td>
        </tr>
        <tr>
          <td>フリガナ</td>
          <td><%= f.text_field :last_name_kana %><%= f.text_field :first_name_kana %></td>
        </tr>
        <tr>
          <td>郵便番号</td>
          <td><%= f.text_field :zipcode %></td>
        </tr>
        <tr>
          <td>住所</td>
          <td><%= f.text_field :address %></td>
        </tr>
        <tr>
          <td>電話番号</td>
          <td><%= f.text_field :phone_number %></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td><%= f.text_field :email %></td>
        </tr>
        <tr>
          <td>会員ステータス</td>
          <td>
            <%= f.radio_button :deleted_at, 0 %>
            <%= f.label "有効" %>
            <%= f.radio_button :deleted_at, 1 %>
            <%= f.label "退会済み" %>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <%# 保存したらマイページに戻る %>
  <div class="row">
    <div class="text-center">
      <%= f.submit '変更を保存する',class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
