<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <h1>会員詳細画面 (管理者モード)</h1>
  </div>
</div>

<br>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <table class="table">
      <tr>
        <td width="170">顧客ID</td>
        <td>
          <%= @end_user.id %>
          <span class="label label-default">
            <% if @end_user.deleted_at == nil %>
              <%= "有効会員" %>
            <% else %>
              <%= "退会済会員" %>
            <% end %>
          </span>
        </td>
      </tr>
      <tr>
        <td>氏名</td>
        <td><%= @end_user.last_name %><%= @end_user.first_name %></td>
      </tr>
      <tr>
        <td>フリガナ</td>
        <td><%= @end_user.last_name_kana %><%= @end_user.first_name_kana %></td>
      </tr>
      <tr>
        <td>郵便番号</td>
        <td><%= @end_user.zipcode %></td>
      </tr>
      <tr>
        <td>住所</td>
        <td><%= @end_user.address %></td>
      </tr>
      <tr>
        <td>電話番号</td>
        <td><%= @end_user.phone_number %></td>
      </tr>
      <tr>
        <td>メールアドレス</td>
        <td><%= @end_user.email %></td>
      </tr>
    </table>
  </div>
</div>

<%# end_user の編集画面へ %>
<div class="row">
  <div class="text-center">
    <%= link_to '編集する', edit_admin_end_user_path(@end_user), class:"btn btn-primary" %>
    <%# !!未設定!! end_user の注文履歴一覧へ遷移.今回はテストに含まれていないのでスルー. %>
    <%= link_to '注文履歴を見る', root_path, class:"btn btn-primary" %>
  </div>
</div>
