
<h3>配送先登録/一覧</h3>

<%= form_for(@address_new) do |f| %>
    <table>
        <tr>
            <td>郵便番号</td>
            <td><%= f.text_field :zipcode %></td>
        </tr>
        <tr>
            <td>住所</td>
            <td><%= f.text_field :address, :size=>"45" %></td>
        </tr>
        <tr>
            <td>宛名</td>
            <td><%= f.text_field :name %></td>
    </table>
    <%= f.submit '登録する',class: "btn btn-primary" %>
<% end %>



    <table>
            <thead>
                <th>郵便番号</th>
                <th>住所</th>
                <th>宛名</th>
            </thead>
        <% @addresses.each do |address| %>
            <tbody>
                <td><%= address.zipcode %></td>
                <td><%= address.address %></td>
                <td><%= address.name %></td>
                <td>
                <%= link_to '編集する', edit_address_path(address), class:"btn btn-primary btn-sm" %>
                <%# 論理削除 %>
                <%= link_to "削除する",address_path(address), class: "btn btn-danger btn-sm", method: :delete, "data-confirm" => "本当に削除しますか？" %>
                </td>
            </tbody>
        <% end %>
    </table>


<%# end_users の address エントリーさせるならこれ。保留中%>
    <%# @current_end_user.address %>
    <%# @current_end_user.zipcode %> 
    <%# @current_end_user.last_name %> 
