<%# ITEM SHOW --- ITEM DETAILS %>
<%# YOU CAN USE INSTANCE VARIABLES/METHODS DOWNBELOW
    @item
    .id
    .name
    .genre_id
    .status
    .caption
    .price
    .image_id
%>
<div class="container">
  <%# NOTICE %>
  <p id="notice"></p>
  <%# CONTENT %>
  <%# ITEM DETAILS %>
  <div class="row">
    <%# LEFT --- ITEM IMAGE %>
    <div class="col-xs-5">
      <%# 写真 %>
      <%= attachment_image_tag @item, :image, :fill, 200, 150, format: 'jpeg', class: "attachment item image" %>
    </div>
    <%# RIGHT --- ITEM INFORMATION %>
    <%= form_for(@item) do |f| %>
      <div class="col-xs-5">
        <div class="row">
          <label class="control-label" for="item_name">商品名</label>
          <p><%= @item.name %></p>
        </div>
        <div class="row">
          <label class="control-label" for="item_caption">商品説明</label>
          <p><%= @item.caption %></p>
        </div>
        <div class="row">
          <span class="item-price">¥ <%= @item.price %> </span><span class="item-price-tax">(税込)</span>
        </div>
      </div>
    </div>
  <% end %>
  <%# AMOUNT SELECT AND CART BUTTON %>
  <div class="row">
    <%# ! NEED FIX POST PATH %>
    <div class="pull-right">
      <%= form_for(@cart_item, url:root_path) do |f| %>
        <%= f.select :amount, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], class:'col-xs-12 control-form' %>
        <%= link_to "カートに入れる", root_path, class:'btn-sm btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
</div>
