<h3>登録情報編集  <%= link_to '退会する', root_path, class:"btn btn-danger" %> </h3>

<%= form_for(@end_user) do |f| %>
    <table>
        <tr>
            <td>氏名</td>
            <td>
                <%= f.text_field :last_name %>
                <%= f.text_field :first_name %>
            </td>
        </tr>
        <tr>
            <td>カナ</td>
            <td>
                <%= f.text_field :last_name_kana %>
                <%= f.text_field :first_name_kana %>
            </td>
        </tr>
        <tr>
            <td>郵便番号</td>
            <td>
                <%= f.text_field :zipcode %>
            </td>
        </tr>
        <tr>
            <td>住所</td>
            <td>
                <%= f.text_field :address %>
            </td>
        </tr>
        <tr>
            <td>電話番号</td>
            <td>
                <%= f.text_field :phone_number %>
            </td>
        </tr>
        <tr>
            <td>メールアドレス</td>
            <td>
                <%= f.text_field :email %>
            </td>
        </tr>
    </table>
    <br>
    <%# 保存したらマイページに戻る %>
    <%= f.submit '編集内容を保存する',class: "btn btn-primary" %>
<% end %>


<%# 簡易ログアウトボタン。最後は削除する %>
<%= link_to "簡易ログアウト", destroy_end_user_session_path, method: :delete, class: "glyphicon glyphicon-log-in sign_in" %>
